<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylaundry">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLaundry">
        <activity android:name=".LaundryPerson.LaundrySplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>
        <activity android:name=".LaundryPerson.LaundryMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        </activity>
        <activity android:name=".LaundryPerson.LaundryRegistrationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".LaundryPerson.LaundryLoginActivity"
            android:theme="@style/Theme.Design.NoActionBar">

        </activity>
        <activity android:name=".Common.SelectUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".otpVerification"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".MyAccount"
            android:label="My Profile"
            android:theme="@style/Theme.Design.DarkActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Design.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>